#Import libraries

In [ ]:
import pandas as pd   #Pandas (Panel Data Analysis) library used to convert the raw Data into meaningful data. As the data in datasets could be messy, wrong, incomplete and more, which doesn't meet the analysis work with reality.
#Definition of Pandas in terminology: Pandas is used for Data manipulation, Data Analysis, Data Cleaning in the series(1D Data) or dataframe(2D Data). DataFrame is nothing but table.

import numpy as np    #NumPy (Numerical Python) used to work for advanced numerical concepts. It could be sometimes 50X faster than lists.
# Definition of NumPy in terminology: NumPy is used for efficient scientific and numerical computation.

import matplotlib.pyplot as plt   #MatPlotLib (MATLAB, Plot, Library) used as an extension for NumPy, which deals with drawing and presenting the graphs,charts, etc. to understand the patterns, trends, relationships within the data.
# Definition of Matplotlib in terminology: pyplot is a module within the Matplotlib library that provides a simple interface for creating plots.

from sklearn import preprocessing    #SKLearn (SciPy Toolkit) used for machine learning tasks such as classification, regression, clustering, and model selection.

üü¢ LEVEL 1 ‚Äì Basic Pandas Questions (Very Simple)

1Ô∏è‚É£ Load the dataset into a pandas DataFrame.

In [ ]:
df=pd.read_csv('/content/raw_dataset.csv')
#Assign the data in the form of table

2Ô∏è‚É£ Show the first 5 rows of the dataset.

In [ ]:
df.head(5)
#By Default it prints 5 rows.
# df.tail(5) prints last 5 rows.

,ID,Name,Age,Gender,City,Salary,Join_Date,Department,Performance_Rating
0,1,Rahul,24.0,Male,Delhi,35000,12-05-2023,Sales,Good
1,2,Priya,27.0,Female,Mumbai,48000,12-04-2022,HR,Excellent
2,3,Amit,NaN,Male,delhi,41000,11-03-2021,Finance,Good
3,4,Neha,25.0,Female,Chennai,forty five,18-07-2023,HR,Average
4,5,Rahul,24.0,Male,Delhi,35000,12-05-2023,Sales,Good

3Ô∏è‚É£ Check the number of rows and columns.

In [ ]:
df.shape
#Prints (Number of Rows, Number of Columns)

(30, 9)

4Ô∏è‚É£ Display all column names.

In [ ]:
df.columns
#Prints all the column headings in the list type.

Index(['ID', 'Name', 'Age', 'Gender', 'City', 'Salary', 'Join_Date',
       'Department', 'Performance_Rating'],
      dtype='object')

5Ô∏è‚É£ What are the data types of each column?

In [ ]:
df.info()
#Gives the columns, Non-Null Count, Data Type of each column (integer/float/double/object/...)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  30 non-null     int64
 1   Name                30 non-null     object
 2   Age                 27 non-null     float64
 3   Gender              30 non-null     object
 4   City                30 non-null     object
 5   Salary              28 non-null     float64
 6   Join_Date           26 non-null     datetime64[ns]
 7   Department          30 non-null     object
 8   Performance_Rating  30 non-null     object
dtypes: datetime64[ns](1), float64(2), int64(1), object(5)
memory usage: 2.2+ KB

6Ô∏è‚É£ Show summary statistics for numerical columns.

In [ ]:
df.describe()
#Gives the statistical summary like Count, mean, standard deviation, min, max, quartiles.

              ID        Age
count  30.000000  27.000000
mean   15.500000  27.740741
std     8.803408   3.346555
min     1.000000  22.000000
25%     8.250000  25.500000
50%    15.500000  27.000000
75%    22.750000  30.000000
max    30.000000  35.000000

7Ô∏è‚É£ Select only the "Name" and "Salary" columns.

In [ ]:
df[['Name','Salary']]
#Read it as:: From dataframe(table) df print the entire columns named Name, Salary
#Columns are list type, so it has to be double enclosedwith square brackets []

      Name      Salary
0    Rahul       35000
1    Priya       48000
2     Amit       41000
3     Neha  forty five
4    Rahul       35000
5    Sneha       55000
6     Ravi       48000
7    Arjun       30000
8    Sanya       47000
9    Karan       45000
10  Ramesh       62000
11   Priya       48000
12   Meena       40000
13    Ajay       52000
14   Sunil       58000
15  Anjali     missing
16   Mohit       48000
17   Tanya       45000
18  Roshni       46000
19   Akash       42000
20   Rohan       51000
21   Priya       48000
22   Nitin       54000
23   Sneha       55000
24   Aarav       35000
25   Kiran       47000
26   Harsh       51000
27  Mahesh       60000
28    Alia       39000
29    Riya       47000

8Ô∏è‚É£ Get all unique values from the ‚ÄúCity‚Äù column.

In [ ]:
df['City'].unique()
#From dataframe df in 'City' column print all the unique values.

array(['Delhi', 'Mumbai', 'delhi', 'Chennai', 'Bngalore', 'pune',
       'Bangaluru', 'Pune', 'mumbai', 'Bangalore', 'Chenai'], dtype=object)

9Ô∏è‚É£ Count how many employees belong to each city.

In [ ]:
df.groupby('City')['Salary'].count()
#From dataframe df Group the employees by their City, and count how many employees are in each city.

City
Bangalore    1
Bangaluru    1
Bngalore     1
Chenai       1
Chennai      5
Delhi        9
Mumbai       6
Pune         3
delhi        1
mumbai       1
pune         1
Name: Salary, dtype: int64

üîü How many missing values are present in each column?

In [ ]:
df.isnull().sum()
#From dataframe df if the value in the df is null, them sum the number of null values

ID                    0
Name                  0
Age                   3
Gender                0
City                  0
Salary                0
Join_Date             1
Department            0
Performance_Rating    0
dtype: int64

üü° LEVEL 2 ‚Äì Data Filtering (Easy)

1Ô∏è‚É£ Get all employees whose salary is greater than 40,000.

In [ ]:
# df['Salary']>40000  #Using this you might get some error. It is because your column{Salary} has some non numerical value/values.
df['Salary'] = pd.to_numeric(df['Salary'], errors='coerce') #Converts any non-numerical to NaN values
df[df['Salary']>40000] #Prints all the rows and columns of employees whose salary is greater than specified one.

,ID,Name,Age,Gender,City,Salary,Join_Date,Department,Performance_Rating
1,2,Priya,27.0,Female,Mumbai,48000.0,12-04-2022,HR,Excellent
2,3,Amit,NaN,Male,delhi,41000.0,11-03-2021,Finance,Good
5,6,Sneha,31.0,Female,Bngalore,55000.0,01-08-2022,Marketing,Excellent
6,7,Ravi,29.0,M,Mumbai,48000.0,19-10-2020,Finance,Good
8,9,Sanya,26.0,Female,Delhi,47000.0,2023.11.22,Finance,Good
9,10,Karan,28.0,Male,pune,45000.0,01-12-2021,Marketing,Excellent
10,11,Ramesh,35.0,Male,Delhi,62000.0,16-07-2020,Sales,Average
11,12,Priya,27.0,Female,Mumbai,48000.0,12-04-2022,HR,Excellent
13,14,Ajay,30.0,Male,Delhi,52000.0,10-09-2019,Marketing,Good
14,15,Sunil,33.0,Male,Bangaluru,58000.0,22-06-2021,Sales,Average
16,17,Mohit,28.0,male,Mumbai,48000.0,05-03-2022,Finance,Good
17,18,Tanya,26.0,Female,Delhi,45000.0,NaN,HR,Good
18,19,Roshni,27.0,FEMALE,Pune,46000.0,01-09-2023,Finance,Average
19,20,Akash,24.0,Male,Mumbai,42000.0,09-11-2021,_marketing,Poor
20,21,Rohan,29.0,Male,Delhi,51000.0,15-03-2021,Sales,Good
21,22,Priya,27.0,Female,mumbai,48000.0,12-04-2022,HR,Excellent
22,23,Nitin,32.0,Male,Chennai,54000.0,30-06-2020,Finance,Poor
23,24,Sneha,31.0,Female,Bangalore,55000.0,01-08-2022,Marketing,Excellent
25,26,Kiran,26.0,Female,Mumbai,47000.0,03-04-2022,Finance,Good
26,27,Harsh,30.0,M,Delhi,51000.0,12-09-2020,Sales,Good
27,28,Mahesh,33.0,Male,Pune,60000.0,invalid,Marketing,Excellent
29,30,Riya,28.0,Female,Chenai,47000.0,17-08-2023,Finanace,Good

In [ ]:
df['Salary'].isna().sum() #Prints number of NaN values present in the specified column.

np.int64(2)

2Ô∏è‚É£ Filter employees who work in the ‚ÄúSales‚Äù department.

In [ ]:
df[df['Department']=='Sales']
#Print the dataframe of values of Deparment column From dataframe {df} in the column 'Department' where values equal to "Sales".

,ID,Name,Age,Gender,City,Salary,Join_Date,Department,Performance_Rating
0,1,Rahul,24.0,Male,Delhi,35000.0,12-05-2023,Sales,Good
4,5,Rahul,24.0,Male,Delhi,35000.0,12-05-2023,Sales,Good
7,8,Arjun,22.0,Male,Chennai,30000.0,27-04-2022,Sales,Poor
10,11,Ramesh,35.0,Male,Delhi,62000.0,16-07-2020,Sales,Average
14,15,Sunil,33.0,Male,Bangaluru,58000.0,22-06-2021,Sales,Average
20,21,Rohan,29.0,Male,Delhi,51000.0,15-03-2021,Sales,Good
24,25,Aarav,23.0,Male,Pune,35000.0,01-01-2023,Sales,Good
26,27,Harsh,30.0,M,Delhi,51000.0,12-09-2020,Sales,Good

3Ô∏è‚É£ Select male employees who belong to ‚ÄúDelhi.‚Äù

In [ ]:
df[(df['Gender']=='Male') & (df['City']=='Delhi')]
 #Show all employees who are Male AND live in Delhi.

,ID,Name,Age,Gender,City,Salary,Join_Date,Department,Performance_Rating
0,1,Rahul,24.0,Male,Delhi,35000.0,12-05-2023,Sales,Good
4,5,Rahul,24.0,Male,Delhi,35000.0,12-05-2023,Sales,Good
10,11,Ramesh,35.0,Male,Delhi,62000.0,16-07-2020,Sales,Average
13,14,Ajay,30.0,Male,Delhi,52000.0,10-09-2019,Marketing,Good
20,21,Rohan,29.0,Male,Delhi,51000.0,15-03-2021,Sales,Good

4Ô∏è‚É£ Get employees with Age > 25 and Salary < 40,000.

In [ ]:
df[(df['Age']>25) & (df['Salary']<50000)]
#From dataframe df,
#take the rows where the value in column 'Age' is greater than 25
#AND
#from dataframe df, the value in column 'Salary' is less than 50,000.

,ID,Name,Age,Gender,City,Salary,Join_Date,Department,Performance_Rating
1,2,Priya,27.0,Female,Mumbai,48000.0,2022-12-04,HR,Excellent
6,7,Ravi,29.0,M,Mumbai,48000.0,NaT,Finance,Good
8,9,Sanya,26.0,Female,Delhi,47000.0,NaT,Finance,Good
9,10,Karan,28.0,Male,pune,45000.0,2021-01-12,Marketing,Excellent
11,12,Priya,27.0,Female,Mumbai,48000.0,2022-12-04,HR,Excellent
16,17,Mohit,28.0,male,Mumbai,48000.0,2022-05-03,Finance,Good
17,18,Tanya,26.0,Female,Delhi,45000.0,NaT,HR,Good
18,19,Roshni,27.0,FEMALE,Pune,46000.0,2023-01-09,Finance,Average
21,22,Priya,27.0,Female,mumbai,48000.0,2022-12-04,HR,Excellent
25,26,Kiran,26.0,Female,Mumbai,47000.0,2022-03-04,Finance,Good
29,30,Riya,28.0,Female,Chenai,47000.0,NaT,Finanace,Good

5Ô∏è‚É£ Get rows where City is missing (NaN).

In [ ]:
df[df['City'].isna()] # .isna() is used to find the NaN or Null values in the specified column
#Here we have no NaN value in the dataframe

Empty DataFrame
Columns: [ID, Name, Age, Gender, City, Salary, Join_Date, Department, Performance_Rating]
Index: []

In [ ]:
df['City'].isna().sum() #Optional-- To re-check if we have any NaN value present in the column

np.int64(0)

In [ ]:
df

,ID,Name,Age,Gender,City,Salary,Join_Date,Department,Performance_Rating
0,1,Rahul,24.0,Male,Delhi,35000.0,12-05-2023,Sales,Good
1,2,Priya,27.0,Female,Mumbai,48000.0,12-04-2022,HR,Excellent
2,3,Amit,NaN,Male,delhi,41000.0,11-03-2021,Finance,Good
3,4,Neha,25.0,Female,Chennai,NaN,18-07-2023,HR,Average
4,5,Rahul,24.0,Male,Delhi,35000.0,12-05-2023,Sales,Good
5,6,Sneha,31.0,Female,Bngalore,55000.0,01-08-2022,Marketing,Excellent
6,7,Ravi,29.0,M,Mumbai,48000.0,19-10-2020,Finance,Good
7,8,Arjun,22.0,Male,Chennai,30000.0,27-04-2022,Sales,Poor
8,9,Sanya,26.0,Female,Delhi,47000.0,2023.11.22,Finance,Good
9,10,Karan,28.0,Male,pune,45000.0,01-12-2021,Marketing,Excellent
10,11,Ramesh,35.0,Male,Delhi,62000.0,16-07-2020,Sales,Average
11,12,Priya,27.0,Female,Mumbai,48000.0,12-04-2022,HR,Excellent
12,13,Meena,NaN,Female,Chennai,40000.0,2022/13/05,Finance,Poor
13,14,Ajay,30.0,Male,Delhi,52000.0,10-09-2019,Marketing,Good
14,15,Sunil,33.0,Male,Bangaluru,58000.0,22-06-2021,Sales,Average
15,16,Anjali,24.0,Female,Chennai,NaN,11-02-2020,HR,Excellent
16,17,Mohit,28.0,male,Mumbai,48000.0,05-03-2022,Finance,Good
17,18,Tanya,26.0,Female,Delhi,45000.0,NaN,HR,Good
18,19,Roshni,27.0,FEMALE,Pune,46000.0,01-09-2023,Finance,Average
19,20,Akash,24.0,Male,Mumbai,42000.0,09-11-2021,_marketing,Poor
20,21,Rohan,29.0,Male,Delhi,51000.0,15-03-2021,Sales,Good
21,22,Priya,27.0,Female,mumbai,48000.0,12-04-2022,HR,Excellent
22,23,Nitin,32.0,Male,Chennai,54000.0,30-06-2020,Finance,Poor
23,24,Sneha,31.0,Female,Bangalore,55000.0,01-08-2022,Marketing,Excellent
24,25,Aarav,23.0,Male,Pune,35000.0,01-01-2023,Sales,Good
25,26,Kiran,26.0,Female,Mumbai,47000.0,03-04-2022,Finance,Good
26,27,Harsh,30.0,M,Delhi,51000.0,12-09-2020,Sales,Good
27,28,Mahesh,33.0,Male,Pune,60000.0,invalid,Marketing,Excellent
28,29,Alia,NaN,Female,Delhi,39000.0,29-01-2021,HR,Average
29,30,Riya,28.0,Female,Chenai,47000.0,17-08-2023,Finanace,Good

6Ô∏è‚É£ Show all employees who joined after 2022.

In [ ]:
# df[df['Join_Date'] > '2022-12-31'] #You get an error
#because the column 'Join_Date' has different formats like
#["12-05-2023", "2022/11/10", "2023.04.01", "2021", "abc", NaN values]
df['Join_Date']=pd.to_datetime(df['Join_Date'],errors='coerce', dayfirst=True)
#Convert Join_Date to proper datetime
df[df['Join_Date'] > '2022-12-31'] #Filter employees who joined after 2022

,ID,Name,Age,Gender,City,Salary,Join_Date,Department,Performance_Rating
0,1,Rahul,24.0,Male,Delhi,35000.0,2023-05-12,Sales,Good
3,4,Neha,25.0,Female,Chennai,NaN,2023-07-18,HR,Average
4,5,Rahul,24.0,Male,Delhi,35000.0,2023-05-12,Sales,Good
18,19,Roshni,27.0,FEMALE,Pune,46000.0,2023-09-01,Finance,Average
24,25,Aarav,23.0,Male,Pune,35000.0,2023-01-01,Sales,Good
29,30,Riya,28.0,Female,Chenai,47000.0,2023-08-17,Finanace,Good

7Ô∏è‚É£ Get unique departments and count them.

In [ ]:
df['Department'].unique()  #.unique() Prints the unique columns names

array(['Sales', 'HR', 'Finance', 'Marketing', '_marketing', 'Finanace'],
      dtype=object)

In [ ]:
df['Department'].nunique()  #.nunique() Prints the number of unique columns

6

8Ô∏è‚É£ Show the top 3 highest-paid employees.

In [ ]:
df.sort_values('Salary',ascending=False).head(3)
#From dataframe df sort the values based on Salary in non-ascending order(Decending order) printing top 3 rows.

,ID,Name,Age,Gender,City,Salary,Join_Date,Department,Performance_Rating
10,11,Ramesh,35.0,Male,Delhi,62000.0,2020-07-16,Sales,Average
27,28,Mahesh,33.0,Male,Pune,60000.0,NaT,Marketing,Excellent
14,15,Sunil,33.0,Male,Bangaluru,58000.0,2021-06-22,Sales,Average

9Ô∏è‚É£ Show the youngest employee.

In [ ]:
df['Age'].min() #From dataframe df in column 'Age' in print min value.

22.0

üîü Show employees whose name starts with ‚ÄúR‚Äù.

In [ ]:
df[df['Name'].str.startswith('R')]
#From the dataframe df look at column 'Name' which is string which starts with character 'R'.

,ID,Name,Age,Gender,City,Salary,Join_Date,Department,Performance_Rating
0,1,Rahul,24.0,Male,Delhi,35000.0,2023-05-12,Sales,Good
4,5,Rahul,24.0,Male,Delhi,35000.0,2023-05-12,Sales,Good
6,7,Ravi,29.0,M,Mumbai,48000.0,2020-10-19,Finance,Good
10,11,Ramesh,35.0,Male,Delhi,62000.0,2020-07-16,Sales,Average
18,19,Roshni,27.0,FEMALE,Pune,46000.0,2023-09-01,Finance,Average
20,21,Rohan,29.0,Male,Delhi,51000.0,2021-03-15,Sales,Good
29,30,Riya,28.0,Female,Chenai,47000.0,2023-08-17,Finanace,Good

In [ ]:
newdf=df.copy() # Make a duplicate copy
newdf

,ID,Name,Age,Gender,City,Salary,Join_Date,Department,Performance_Rating
0,1,Rahul,24.0,Male,Delhi,35000.0,2023-05-12,Sales,Good
1,2,Priya,27.0,Female,Mumbai,48000.0,2022-04-12,HR,Excellent
2,3,Amit,NaN,Male,delhi,41000.0,2021-03-11,Finance,Good
3,4,Neha,25.0,Female,Chennai,NaN,2023-07-18,HR,Average
4,5,Rahul,24.0,Male,Delhi,35000.0,2023-05-12,Sales,Good
5,6,Sneha,31.0,Female,Bngalore,55000.0,2022-08-01,Marketing,Excellent
6,7,Ravi,29.0,M,Mumbai,48000.0,2020-10-19,Finance,Good
7,8,Arjun,22.0,Male,Chennai,30000.0,2022-04-27,Sales,Poor
8,9,Sanya,26.0,Female,Delhi,47000.0,NaT,Finance,Good
9,10,Karan,28.0,Male,pune,45000.0,2021-12-01,Marketing,Excellent
10,11,Ramesh,35.0,Male,Delhi,62000.0,2020-07-16,Sales,Average
11,12,Priya,27.0,Female,Mumbai,48000.0,2022-04-12,HR,Excellent
12,13,Meena,NaN,Female,Chennai,40000.0,NaT,Finance,Poor
13,14,Ajay,30.0,Male,Delhi,52000.0,2019-09-10,Marketing,Good
14,15,Sunil,33.0,Male,Bangaluru,58000.0,2021-06-22,Sales,Average
15,16,Anjali,24.0,Female,Chennai,NaN,2020-02-11,HR,Excellent
16,17,Mohit,28.0,male,Mumbai,48000.0,2022-03-05,Finance,Good
17,18,Tanya,26.0,Female,Delhi,45000.0,NaT,HR,Good
18,19,Roshni,27.0,FEMALE,Pune,46000.0,2023-09-01,Finance,Average
19,20,Akash,24.0,Male,Mumbai,42000.0,2021-11-09,_marketing,Poor
20,21,Rohan,29.0,Male,Delhi,51000.0,2021-03-15,Sales,Good
21,22,Priya,27.0,Female,mumbai,48000.0,2022-04-12,HR,Excellent
22,23,Nitin,32.0,Male,Chennai,54000.0,2020-06-30,Finance,Poor
23,24,Sneha,31.0,Female,Bangalore,55000.0,2022-08-01,Marketing,Excellent
24,25,Aarav,23.0,Male,Pune,35000.0,2023-01-01,Sales,Good
25,26,Kiran,26.0,Female,Mumbai,47000.0,2022-04-03,Finance,Good
26,27,Harsh,30.0,M,Delhi,51000.0,2020-09-12,Sales,Good
27,28,Mahesh,33.0,Male,Pune,60000.0,NaT,Marketing,Excellent
28,29,Alia,NaN,Female,Delhi,39000.0,2021-01-29,HR,Average
29,30,Riya,28.0,Female,Chenai,47000.0,2023-08-17,Finanace,Good

In [ ]:
from google.colab import files
newdf.to_csv("newdf.csv", index=False)
files.download("newdf.csv")